@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');
*{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
}
.body {
  background-color: #F9F6F4;
}
.top-icon{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 24px;
  
  position: absolute;
  width: 15%;
  height: 10%;
  left: 85%;
  top: 2%;
}
.web-icon{
  position: absolute;
  left: 10%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.avatar{
  width: 24px;
  height: 24px;
  border-radius: 30px;
  
  flex: none;
  order: 2;
  flex-grow: 0;
}
.bell{

width: 18px;
height: 18px;

opacity: 0.8;

flex: none;
order: 1;
flex-grow: 0;
}
.mail{

width: 18px;
height: 18px;

opacity: 0.8;

flex: none;
order: 0;
flex-grow: 0;
}
.control-filter{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 3%;
  top: 10%;

  font-weight: 600;
  font-size: 15px;
  line-height: 26px;

  display: flex;

  color: #1E0D03;

  opacity: 0.8;
}
.control-filter-heading{
  position: absolute;
  width: 100%;
  height: auto;
  left: 3%;
  top: 2.5%;

  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;

  color: #1E0D03;
}
.control-filter-options{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;

  position: absolute;
  width: auto;
  height: auto;
  left: 49%;
  top: 12.5%;
  font-size: 15px;
}
.control-ticket-type-filter-label{
  position: absolute;
  width: 100%;
  height: auto;
  left: 3%;
  top: 29%;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 26px;

  display: flex;
  align-items: center;

  color: #1E0D03;

  opacity: 0.8;
}
.control-ticket-type-filter-input{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  font-size: 15px;

  position: absolute;
  width: 100%;
  height: auto;
  left: 10%;
  top: 27%;
}
.control-fromdate-filter-label{
  position: absolute;
  width: 100%;
  height: auto;
  left: 3%;
  top: 36%;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 26px;

  display: flex;
  align-items: center;

  color: #1E0D03;

  opacity: 0.8;
}
.control-fromdate-filter-input{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  gap: 28px;

  position: absolute;
  position: absolute;
  width: 30%;
  height: auto;
  left: 50%;
  top: 35.5%;

  background: #E0E0E0;
  border: 0px;
  border-radius: 8px;
}
.control-todate-filter-label{
  position: absolute;
  width: 100%;
  height: auto;
  left: 3%;
  top: 45%;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 26px;
  display: flex;
  align-items: center;

  color: #1E0D03;

  opacity: 0.8;
}
.control-todate-filter-input{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  gap: 27px;

  position: absolute;
  width: 30%;
  height: auto;
  left: 50%;
  top: 44.5%;

  background: #F7F8FB;
  border:0px;
  border-radius: 8px;
}

.filter-button{
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 11px 24px;
  font-size: 13px;
  background-color: #FFFFFF;
  color:#FF993C ;
  
  font-weight: 700;
  
  line-height: 26px;

  position: absolute;
  width: 27%;
  height: 5.5%;
  left: 35%;
  top: 55%;

  border: 2px solid #FF993C;
  border-radius: 8px;
}
.radio-row{
  display: flex;
  flex-direction: row;
  padding: 0px;

  width: 100%;
  height: 24px;

  flex: none;
  order: 0;
  flex-grow: 0;
}
.filter-heading{
  position: absolute;
  width: 81px;
  height: 30px;
  left: 263px;
  top: 24px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;

  display: flex;
  align-items: center;
  color: #1E0D03;
}
.status-filter{

  display: flex;
  flex-direction: row;
  align-items: flex-start;

  position: absolute;
  width: 573px;
  height: 24px;
  left: 32px;
  top: 203px;
}
.check-in-gate-filter{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;

  position: absolute;
  width: 100%;
  height: 24px;
  left: 32px;
  top: 281px;
}
.loc{
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 11px 24px;
  gap: 10px;
  background: #FFFFFF;
  font-weight: 600;
  color: #FF993C;
  position: absolute;
  width: 160px;
  height: 48px;
  left:45px;
  bottom: 23px;

  border: 2px solid #FF993C;
  border-radius: 8px;
}
.check-in-label-filter{
  position: absolute;
  width: 131px;
  height: 26px;
  left: 32px;
  top: 247px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;

  display: flex;
  align-items: center;

  color: #1E0D03;

  opacity: 0.8;
}
.fromdate-label{
  position: absolute;
  width: 66px;
  height: 26px;
  left: 32px;
  top: 81px;
  
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  
  display: flex;
  align-items: center;
  
  color: #1E0D03;
  
  opacity: 0.7;
}
.fromdate-input{
  box-sizing: border-box;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  gap: 10px;
  
  position: absolute;
  width: 143px;
  height: 40px;
  left: 32px;
  top: 112px;
  
  border: 1px solid #A5A8B1;
  border-radius: 8px;
}
.todate-label{
  position: absolute;
  width: 128px;
  height: 26px;
  left: 297px;
  top: 80px;
  
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  
  display: flex;
  align-items: center;
  
  color: #1E0D03;
  
  opacity: 0.7;
}
.todate-input{
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  gap: 10px;

  position: absolute;
  width: 143px;
  height: 40px;
  left: 297px;
  top: 112px;

  border: 1px solid #A5A8B1;
  border-radius: 8px;
}
.status-text-filter{
  position: absolute;
  width: 159px;
  height: 26px;
  left: 32px;
  top: 172px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;

  display: flex;
  align-items: center;

  color: #1E0D03;

  opacity: 0.8;
}
.menu{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 10%;
  height: 30%;
  left: 0%;
  top: 3%;
}
.search-top{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 16px;

  position: absolute;
  left: 13%;
  top: 3%;
  width: 30%;
  height: 6%;
  border:0px;
  background: #EDEDED;
  border-radius: 12px;
}
.search-top input{
  position: absolute;
  width: 90%;
  height: 90%;
  left: 3%;
  top: 2%;
  padding-left: 8px;
  border: 0px;
  font-size: 13px;
  font-style: italic;
  background: url(images/search.png) no-repeat scroll 100% 50%;
  background-color: #EDEDED;
}


ul
{
  align-items:flex-start;
  position: absolute;
  left: -22%;
  top: 40%;
  order: 1;
  list-style:none;
  display: flex;
  flex-direction: column;
  gap: 4px;

  width: 150px;
  height: 20%;
}

li
{
    float:left;
}

.nav-link img{
  position: relative;
  padding: 0px 8px 5px 0px;
  top:5px;
}

.nav-link
{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    font-size: 13px;
}

.nav-link.active
{
    background-color: #EAB126;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;

    width: 125px;
    height: 30px;

    background: #FFB800;
    border-radius: 8px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.nav-link:focus{
  background-color: #EAB126;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;

    width: 125px;
    height: 30px;

    background: #FFB800;
    border-radius: 8px;

    flex: none;
    order: 1;
    flex-grow: 0;
}
.nav-child{
  position: absolute;
  display: block;
  color: black;
  text-decoration: none;
  padding: 13px;
  text-align: center;
  font-size: 13px;
  width: 100%;
  left:15%;
  top:585%
}
.rendered-item{
  position: absolute;
  width: 83%;
  height: 108%;
  left: 13%;
  top:11.5%;

  background: #FFFFFF;
  border-radius: 12px;
}
.control-item{
  position: absolute;
  width: 58%;
  height: 108%;
  left: 13%;
  top:11.5%;

  background: #FFFFFF;
  border-radius: 12px;
}
.filter-item{
  position: absolute;
  width: 25%;
  height: 108%;
  left: 71.5%;
  top: 11.5%;

  background: #FFFFFF;
  border-radius: 12px;
}
.ticket-list{
  position: absolute;
  width: 83%;
  height: 108%;
  left: 13%;
  top:11.5%;

  background: #FFFFFF;
  border-radius: 12px;
}
.search{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 16px;
  gap: 16px;

  border:0px;
  position: absolute;
  width: 30%;
  height: 3%;
  left: 1.5%;
  top: 8%;

  background: url(images/search.png) no-repeat scroll 93% 50%;
  font-size: 15px;
  background-color: #F7F7F8;
  border-radius: 8px;
}
.locve{
  box-sizing: border-box;

  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 11px 16px;
  gap: 10px;

  position: absolute;
  width: 10%;
  height: 5%;
  left: 75%;
  top: 8%;

  background-color: #FFFFFF;
  font-size: 12px;
  color: #FF993C;
  border: 1px solid #FF993C;
  border-radius: 6px;
}
.csv{
  box-sizing: border-box;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 11px 24px;
  gap: 10px;

  position: absolute;
  width: 10%;
  height: 5%;
  left: 86%;
  top: 8%;

  background-color: #FFFFFF;
  font-size: 12px;
  color: #FF993C;
  border: 1px solid #FF993C;
  border-radius: 8px;
}
.doisoat{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border:0px;
  position: absolute;
  width: 14%;
  height: 5%;
  left: 82%;
  top: 8%;
  font-size: 12.5px;
  color: #FFFFFF;
  font-weight: 600;

  background: #FF993C;
  border-radius: 8px;
}
.title{
  position: absolute;
  width: 100%;
  height: 8%;
  left: 2%;
  top: 0%;

  font-weight: 700;
  font-size: 16px;
  line-height: 54px;

  display: flex;
  align-items: center;

  color: #1E0D03;
}
.list-table{
  position: absolute;
  width: 95%;
  height: 30px;
  left: 1.5%;
  top: 15%;
  font-size: 13px;

  background: #F1F4F8;
  border-radius: 8px 8px 0px 0px;
}
.table-heading{

  width: 100%;
  height: 30px;

  background: #F1F4F8;
  border-radius: 8px 8px 0px 0px;

}
.table-content{
  width: 100%;
  height: 30px;

  background: #FFFFFF;
  text-align: center;
}

.control-table{
  position: absolute;
  width: 95%;
  height: 30px;
  left: 1.5%;
  top: 15%;
  font-size: 13px;

  background: #F1F4F8;
  border-radius: 8px 8px 0px 0px;
}
.control-table-heading{
  width: 100%;
  height: 30px;

  background: #F1F4F8;
  border-radius: 8px 8px 0px 0px;
}
.control-table-content{
  width: 1049px;
  height:30px;

  background: #FFFFFF;
  text-align: center;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.header{

position: absolute;
width: 100%;
height: 30px;
left: 42%;
top: 3%;


font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 30px;

display: flex;
align-items: center;

color: #1E0D03;
}
.createticket{
  box-sizing: border-box;

  position: absolute;
  width: 50%;
  height: 80%;
  top: -5%;
  left: 30%;
  margin: auto;
  margin-top: 10%;

  background: #FFFFFF;
  border: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}
.filter-ticket{
  box-sizing: border-box;
  position: absolute;
  width: 634px;
  height: 454px;
  margin: auto;
  margin-top: 10%;

  background: #FFFFFF;
  border: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}

.ticketname-label{
  position: absolute;
  width: 103px;
  height: 26px;
  left:5%;
  top:18%;
  
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 26px;
  
  display: flex;
  align-items: center;
  
  color: #1E0D03;
  
  opacity: 0.7;
}
.ticketname-input{
  box-sizing: border-box;

  position: absolute;
  width: 40%;
  height: 6%;
  left: 32px;
  top: 112px;
  padding: 10px;
  font-size: 13px;
  
  border: 1px solid #A5A8B1;
  border-radius: 8px;
}

.dateuse-label{

position: absolute;
width: 117px;
height: 26px;
left:5%;
top:30%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 26px;

display: flex;
align-items: center;

color: #1E0D03;

opacity: 0.7;
}
.dateuse-input{

  box-sizing: border-box;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  gap: 10px;
  
  position: absolute;
  width: 20%;
  height: 6%;
  left:5%;
  top:35%;
  font-size:13px;
  
  border: 1px solid #A5A8B1;
  border-radius: 8px;
}
.dateuse-time{
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  gap: 10px;
  font-size: 13px;
  position: absolute;
  width: 20%;
  height: 6%;
  left:26%;
  top:35%;

  border: 1px solid #A5A8B1;
  border-radius: 8px;
}
.expiredate-label{
  position: absolute;
  width: 117px;
  height: 26px;
  left:55%;
  top:30%;
  
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 26px;
  
  display: flex;
  align-items: center;
  
  color: #1E0D03;
  
  opacity: 0.7;
}
.expiredate-input{
  box-sizing: border-box;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  gap: 10px;
  
  position: absolute;
  width: 20%;
  height: 6%;
  left:55%;
  top:35%;
  font-size: 13px;
  
  border: 1px solid #A5A8B1;
  border-radius: 8px;
}
.expiredate-time{
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  gap: 10px;

  position: absolute;
  width: 20%;
  height: 6%;
  left:76%;
  top:35%;

  border: 1px solid #A5A8B1;
  border-radius: 8px;
}
.price-label{
  position: absolute;
  width: 124px;
  height: 26px;
  left:5%;
  top:42%;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 26px;

  display: flex;
  align-items: center;

  color: #1E0D03;

  opacity: 0.7;
}
.single-ticket{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  font-size: 13px;
  position: absolute;
  width: 391px;
  height: 40px;
  left:5%;
  top:45%;
}
.combo-ticket{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  font-size: 13px;

  position: absolute;
  width: 449px;
  height: 40px;
  left:5%;
  top:53%;
}
.single-ticket-input{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 12px;
  gap: 10px;
  border: 0px;
  width: 100px;
  height: 13px;

  background: #F1F4F8;
  border-radius: 8px;

  flex: none;
  order: 2;
  flex-grow: 0;
}
.combo-ticket-input{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 12px;
  gap: 10px;

  width: 100px;
  height: 13px;
  border:0px;
  background: #F1F4F8;
  border-radius: 8px;

  flex: none;
  order: 2;
  flex-grow: 0;
}
.label-status{
  position: absolute;
  width: 94px;
  height: 26px;
  left:5%;
  top:60%;
  
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 26px;
  
  display: flex;
  align-items: center;
  
  color: #1E0D03;
  
  opacity: 0.7;
}
.status{
  box-sizing: border-box;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  gap: 10px;
  
  position: absolute;
  width: 40%;
  height: 8%;
  left:5%;
  top:65%;
  
  border: 1px solid #A5A8B1;
  border-radius: 8px;
}

.huy{
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 11px 24px;
  gap: 10px;
  font-weight: 600;
  color: #FF993C;
  width: 40%;
  height: 40px;
  font-size: 13px;
  border: 2.5px solid #FF993C;
  border-radius: 8px;
  
  flex: none;
  order: 0;
  flex-grow: 0;
}
.luu{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 11px 24px;
  gap: 10px;
  border:0px;
  width: 40%;
  height: 40px;
  font-size: 13px;
  color: #FFFFFF;
  font-weight: 600;
  background: #FF993C;
  border-radius: 8px;

  flex: none;
  order: 1;
  flex-grow: 0;
}

.button-holder{
  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 24px;

position: absolute;
width: 344px;
height: 48px;
left: 25%;
bottom: 10%;
}

.update-packid-label{
  position: absolute;
  width: 89px;
  height: 26px;
  left: 32px;
  top: 81px;
  
  /* 16 semibold */
  
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  
  display: flex;
  align-items: center;
  
  /* Text */
  
  color: #1E0D03;
  
  opacity: 0.7;
}
.update-packid-input{
  box-sizing: border-box;

  position: absolute;
  width: 245px;
  height: 40px;
  left: 32px;
  top: 112px;
  
  /* Grey/4 */
  
  border: 1px solid #A5A8B1;
  border-radius: 8px;
}
.update-packname-label{
  position: absolute;
  width: 103px;
  height: 26px;
  left: 359px;
  top: 81px;
  
  /* 16 semibold */
  
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  
  display: flex;
  align-items: center;
  
  /* Text */
  
  color: #1E0D03;
  
  opacity: 0.7;
}
.update-packname-input{
  box-sizing: border-box;

  position: absolute;
  width: 367px;
  height: 40px;
  left: 359px;
  top: 112px;
  
  /* Grey/4 */
  
  border: 1px solid #A5A8B1;
  border-radius: 8px;
}
.piechart-goigiadinh{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 12px;

  position: absolute;
  width: 100px;
  height: 100px;
  left: 20%;
  top: 68%;
}
.goigiadinh{
  width: 100%;
  height: 28px;
  text-align: center;
  font-weight: 600;
  font-size: 23px;
  line-height: 28px;

  color: #1E0D03;
}
.goisukien{
  width: 100%;
  height: 28px;
  text-align: center;
  font-weight: 600;
  font-size: 23px;
  line-height: 28px;

  color: #1E0D03;
}
.piechart-goisukien{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 12px;

  position: absolute;
  width: 100px;
  height: 100px;
  left: 55%;
  top: 68%;
}
.PieChart input{
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  gap: 10px;

  position: absolute;
  width: 155px;
  height: 40px;
  left: 2%;
  top: 63%;

  background: #FFFFFF;
  border: 1px solid #E6E0E0;
  border-radius: 4px;
}
.LineChart{
  position: absolute;
  width: 95%;
  height: 1000px;
  left: 2%;
  top: 8%;
}
.date-linechart{
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;

  position: absolute;
  width: 10.5%;
  height: 6%;
  left: 85%;
  top: 10%;

  border: 0.8px solid #E6E0E0;
  box-shadow: 0px 0px 1px 1px #E6E0E0;
  border-radius: 4px;
}
.LineChart h2{
  font-size: 20px;
}
.doanhthu{
  position: absolute;
  width: 100%;
  height: 10%;
  left: 2%;
  top: 18.3rem;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;

  color: #1E0D03;

  opacity: 0.5;
}
.sotien{

  position: absolute;
  width: 100%;
  height: 30px;
  left: 2%;
  top: 20rem;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #1E0D03;
}
.dong{
  position: absolute;
  width: 38px;
  height: 22px;
  left: 13%;
  top: 20.1rem;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 22px;
  color: #1E0D03;

}

.btn-update{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap:2px;

  width: 100%;
  height: 22px;

  background: none;
  border: 0px;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  color: #FF993C;

  flex: none;
  order: 1;
  flex-grow: 0;
}

.invisible {
  visibility: hidden;
}